@import "variables";

%btn-shared {
  font-family: $body-font;
  padding: 10px 25px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
}

.btn {
  &-light {
    @extend %btn-shared;
    background-color: $neutral-three;
    color: $primary-one;
    border: 2px solid $primary-one;

    &:hover {
      border: none;
      background-color: $neutral-one;
      color: $neutral-three;
      border: 2px solid $neutral-one;
    }
  }

  &-primary {
    @extend %btn-shared;
    background-color: $primary-one;
    color: $neutral-three;
    border: 2px solid $neutral-three;
    margin-top: 30px;

    &:hover {
      border: none;
      background-color: $neutral-three;
      color: $primary-one;
      border: 2px solid $neutral-three;
    }
  }

  &-dark {
    @extend %btn-shared;
    background-color: $neutral-one;
    color: $neutral-three;
    border: 2px solid $neutral-three;
    font-size: 20px;
    margin-top: 30px;
    padding: 15px 25px;
    width: 100%;
    max-width: 300px;

    &:hover {
      border: none;
      background-color: $neutral-three;
      color: $neutral-one;
      border: 2px solid $neutral-three;
    }
  }
}
