$heading-font: "DM Serif Display", serif;
$body-font: "Karla", sans-serif;

$primary-one: hsl(256, 26%, 20%);
$primary-two: hsl(216, 30%, 68%);

$neutral-one: hsl(270, 9%, 17%);
$neutral-two: hsl(273, 4%, 51%);
$neutral-two-opacity: hsla(273, 4%, 51%, 0.7);
$neutral-three: hsl(0, 0%, 98%);
